add-event {
	color: #277770;
    font-weight: bold;
}

add-event .name {
	margin-top: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    color: #277770;
    font-weight: bold;
}

add-event .name input {
	padding: 5px 0 5px 15px;
    box-sizing: border-box;
    border: 2px solid #277770;
    border-radius: 4px;
    background: none;
}

add-event p {
	color: #ff0000;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
}


.chose-date {
	margin: 15px 0; 
	padding: 0 15px;
	display: flex;
    justify-content: space-between;
    text-align: center;
}

.chose-date input {
	width: 80px;
    padding: 5px 0 5px 15px;
    box-sizing: border-box;
    border: 2px solid #277770;
    border-radius: 4px;
    background: none;
    margin-top: 10px;
}



add-event .from ,
add-event .to {
	display: flex;
	justify-content: space-between;
	padding: 0 15px;
	margin: 5px 0;
}

add-event .from input,
add-event .to input {
	width: 40px;
    background: none;
    height: 30px;
    border: 2px solid #277770;
    border-radius: 4px;
    color: #277770;
    outline: none;
    padding-left: 20px;
    font-size: 16px;
}

add-event .description {
	padding: 0 15px;
}

add-event .description textarea {
	height: 110px;
}

@media (orientation: landscape) {

	
	add-event form {
		background: url(../../../img/bg.jpg) center center no-repeat;
	    background-size: cover;
	}

	add-event .name,
	add-event .chose-date,
	add-event .from,
	add-event .to,
	add-event .description {
		padding: 0 60px;
	}

	add-event .btns {
		padding: 30px;
	}

	add-event .name {
	    margin-top: 0;
	    padding-top: 40px;
	}

}